/* CricketerList.css */
.thename{
  text-align: center;
  background-color: beige;
  /* display: inline-block; */
  font-size: 25px;
  color: black;
  padding: 0px;
  margin: 0px; 
  
}

.cricketer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align the scores */
  width: 95%;
  padding: 10px;
}

.current-score {
  font-size: 25px;
  color: chartreuse; /* Initial font size for current score */
  transition: font-size 0.3s; /* Add a transition effect */
}

.best-score {
  font-size: 25px;
  color: chartreuse; /* Initial font size for best score */
  transition: font-size 0.3s; /* Add a transition effect */
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cricketer-card {
  width: calc(20% - 20px); /* Five images per line */
  margin: 10px;
  background-color: #cfcece;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.cricketer-image {
  display: block;
  width: 100%;
  height: 250px; /* Adjust this height as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 8px; /* Rounded corners */
}

.cricketer-name {
  font-size: 20px;
  color: black;
}
